*{
	list-style-type: none;
	text-decoration: none;
	color: #000;
	padding: 0px;
	margin: 0px;
}

.services-design, .services-support, .services-webdev { 
	display: inline-block; 
	background: url('../img/service-sprite.png') no-repeat; 
	overflow: hidden; 
	text-indent: -9999px; 
	text-align: left; 
}

.services-design { background-position: -0px -0px; width: 62px; height: 55px; }
.services-support { background-position: -0px -55px; width: 56px; height: 54px; }
.services-webdev { background-position: -0px -109px; width: 55px; height: 55px; }

header {
	background: rgba(0, 0, 0, .4);
}

.logo {
	box-sizing: border-box;
	padding: 20px;
}

.nav-bar {
	display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar li {
	margin: 20px;
}

.nav-bar li a:hover {
	color: #4ae866; 
}

h1 {
	margin: 140px 0 40px 0!important;
	text-align: center;
}

.under-line {
	margin: 0 auto;
    border: none;
    color: #35b9eb;
    background-color: #35b9eb;
    height: 1px;
    width: 110px;
}

.descript-head {
	margin: 50px 0 130px 0;
	text-align: center;
}

.core-services {
	padding: 100px 0;
}

.str-headline {
	margin-bottom: 35px;
}

.str-headline h2 {

}

.str-headline-center {
	text-align: center;
}

.sprite-frame {
	margin: 0 auto;
}

.core-services-bloc {
	display: flex;
    flex-direction: column;
	margin-top: 70px;
}

.core-services-bloc h3 {
	margin: 40px 0 40px 0;
	text-align: center;
}

.core-services-bloc p {
	text-align: center;
}

.otherexpertise {
	padding: 100px 0 80px 0;
	background: #f7f7f7;
}

.str-headline-description {
	padding-bottom: 40px;
}

.otherexpertise-content p{
	margin: 10px 0 30px 0;
}